---
 const personalImageAlt = "Alejandro Moreno"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Ingeniero Informático especializado en el desarrollo de aplicaciones web modernas. 
      A lo largo de mi carrera he trabajado con tecnologías como <strong>Java / Spring Boot, Astro, React, TypeScript, Tailwind CSS y PL/SQL</strong> entre otras, 
      combinando entornos corporativos estructurados con iniciativas digitales más ágiles e independientes.
    </p>

    <p>
      He participado en proyectos clave para entidades públicas como la <strong>Generalitat Valenciana (GVA), EMT Valencia y Hacienda</strong>, 
      donde he contribuido en la implementación de microservicios backend, gestión de bases de datos Oracle y automatización de procesos.
    </p>

    <p>
      Además, soy el <strong>responsable técnico de PROSAM</strong>, una clínica online de psicología. Desarrollé íntegramente su plataforma web, 
      migrando de una solución basada en WordPress a una arquitectura moderna con <strong>Astro, React y TypeScript</strong>, 
      integrando pagos con <strong>Stripe</strong> y autenticación segura mediante <strong>Lucia Auth</strong>, con integración de <strong>OAuth</strong>
       y login con <strong>Google</strong>. 
      Actualmente me encargo también de su mantenimiento y evolución.
    </p>
  </div>

  <img width="200" height="200" src="/me.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>