---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarollador Fullstack",
    company: "Ayesa",
    description:
      "Desarrollo de un proyecto nuevo de amplio alcance utilizando tecnologías como Java, PL/SQL Oracle, Spring y microservicios. Microservicios, aplicación de principios SOLID y clean code para garantizar la calidad, escalabilidad y mantenibilidad del código.",
    link: "https://www.ayesa.com/"
  },
  {
    date: "Julio 2022 - Noviembre 2023",
    title: "Desarollador Backend",
    company: "Lãberit",
    description:
      "Contrato de prácticas. Colaborador en proyectos clave para entidades como la Generalitat Valenciana (GVA), la EMT y otras entidades públicas. Gestión y administración de bases de datos, creación de scripts y desarrollo de paquetes en entornos PL/SQL mediante el stack de Oracle (Forms y Reports). Soluciones en proyectos con Java / Spring Boot para la gestión de API REST, uso de JPA / Hibernate, JIRA para la gestión de tareas y TortoiseSVN para el control de versiones."
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
