---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarollador Fullstack",
    company: "Dismuntel",
    description:
      "Desarrollo de soluciones electrónicas de amplio rango y multisectorial utilizando tecnologías como Vue.js, .NET Core, C#, MySQL, PostgreSQL, MongoDB y Redis. Diseño y creación de aplicaciones web y móviles, desarrollo de microservicios y API Rest, y aplicación de principios SOLID para garantizar la calidad y escalabilidad del código.",
    link: "https://www.dismuntel.com/"
  },
  {
    date: "Julio 2022 - Noviembre 2023",
    title: "Desarollador Backend",
    company: "Lãberit",
    description:
      "Contrato de prácticas. Colaborador en proyectos clave para entidades como la Generalitat Valenciana (GVA), la EMT y otras entidades públicas. Gestión y administración de bases de datos, creación de scripts y desarrollo de paquetes en entornos PL/SQL mediante el stack de Oracle (Forms y Reports). Soluciones en proyectos con Java / Spring Boot para la gestión de API REST, uso de JPA / Hibernate, JIRA para la gestión de tareas y TortoiseSVN para el control de versiones."
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
